@charset "UTF-8";

@import "components/prefixer";
@import "components/color";

@import "components/variables";
@import "components/normalize";
@import "components/form";
@import "components/buttons";

@import "components/font";

$background: color rgba(0, 0, 0, 0.7);

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;

  h1 {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
    margin-top: 0;
  }
}


#Form {
  background-color: $background;
}

.field {
  width: 60%;
  margin: 0 auto;
  padding: 100px;

  .field-number {
    font-size: 23px;
    font-weight: 600;
    display: inline;
    margin-right: 10px;
  }

  .field-question {
    font-size: 20px;
    font-weight: 600;
    display: inline;
  }

}
